" ~/.vimrc 
" Description : Minimal yet extensible VIM configuration for terminal use.
" Author      : codmak
" Date        : 2025-08-04
" Version     : 1.0

" ------------------------------
" Plugin Manager (vim-plug)
" ------------------------------

let s:data_dir = expand('~/.vim')
let s:plug_path = s:data_dir . '/autoload/plug.vim'
let s:plug_url  = 'https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

if empty(glob(s:plug_path))
  silent execute '!curl -fLo ' . shellescape(s:plug_path) . ' --create-dirs ' . s:plug_url
  autocmd VimEnter * PlugInstall --sync | source $MYVIMRC
endif

" ------------------------------
" Plugins
" ------------------------------

call plug#begin(s:data_dir . '/plugged')

  " Commenting: toggle comments easily in any filetype
  Plug 'preservim/nerdcommenter'

  " Statusline: lightweight, extensible status/tab line
  Plug 'vim-airline/vim-airline'

  " Navigation: jump anywhere in the file with minimal keystrokes
  Plug 'easymotion/vim-easymotion'

  " CSV support: syntax and tools for comma/semicolon/tab separated files
  Plug 'chrisbra/csv.vim'

call plug#end()

" ------------------------------
" CORE SETTINGS
" ------------------------------

set background=dark
set number
set relativenumber
set encoding=utf-8
set expandtab
set shiftwidth=4
set softtabstop=4
set tabstop=4
set textwidth=80
set wrap
set wildmenu
set shortmess+=I
set termguicolors

syntax enable
filetype plugin indent on

let mapleader = ","
let maplocalleader = "\\"

autocmd FileType tex setlocal textwidth=0

" ------------------------------
" Plugin Configuration
" ------------------------------

" NERDCommenter
let g:NERDSpaceDelims = 1

" vim-airline
let g:airline_theme = "custom"
let g:airline#extensions#tabline#enabled = 1
let g:airline_highlighting_cache = 1
let g:airline_symbols_ascii = 1

" ------------------------------
" Autocommands
" ------------------------------

" Automatically open quickfix window
autocmd QuickFixCmdPost * copen 3

" Vim-specific settings
augroup Vim
    autocmd!
    autocmd FileType vim setlocal tabstop=2 shiftwidth=2 softtabstop=2 expandtab
augroup END

" Highlight lines >80 characters
augroup HighlightLongLines
    autocmd!
    autocmd BufWinEnter * match ErrorMsg '\%81v.\+'
augroup END

" Filetype detection for configs
augroup CustomFileTypes
    autocmd!
    autocmd BufRead,BufNewFile vifmrc,*.vifm set filetype=vim
    autocmd BufRead,BufNewFile ~/.config/i3/config set filetype=i3config
    autocmd BufRead,BufNewFile ~/.config/i3/includes/*.conf set filetype=i3config
augroup END

" Simple autocompletion of closing pairs
augroup AutoClosePairs
    autocmd!
    autocmd FileType python,javascript,cpp inoremap " ""<Left>
    autocmd FileType python,javascript,cpp inoremap ( ()<Left>
    autocmd FileType python,javascript,cpp inoremap [ []<Left>
    autocmd FileType python,javascript,cpp inoremap { {}<Left>
augroup END

" Close help/quickfix buffers with `q`
augroup QuickFixClose
    autocmd!
    autocmd FileType qf,help nnoremap <buffer> q :close<CR>
augroup END

" Perl indentation
augroup Perl
    autocmd!
    autocmd FileType perl setlocal tabstop=4 shiftwidth=4 softtabstop=4 expandtab
augroup END

" Reload config on write
augroup VimConfig
    autocmd!
    autocmd BufWritePost $MYVIMRC source $MYVIMRC
augroup END

" Restore cursor position
autocmd BufReadPost * if line("'\"") > 0 && line("'\"") <= line("$") |
    \ execute "normal! g'\"" | endif

" ------------------------------
" Key Mappings
" ------------------------------

" Tabs
nnoremap tn :tabnew<CR>
nnoremap tc :tabclose<CR>
nnoremap tC :tabclose!<CR>
nnoremap t. :tabnext<CR>
nnoremap t, :tabprevious<CR>

" Buffers
nnoremap b. :bnext<CR>
nnoremap b, :bprevious<CR>
nnoremap bd :bdelete<CR>
nnoremap bD :bdelete!<CR>

" Navigation
nnoremap K 5k
nnoremap J 5j
nnoremap H 0
nnoremap L $

" General
nnoremap <C-s> :w<CR>
nnoremap ss :w<CR>
nnoremap zz :exit<CR>
nnoremap <leader>r :source $MYVIMRC<CR>
nnoremap <leader>ev :tabnew $MYVIMRC<CR>
nnoremap - dd
nnoremap DD ggdG
nnoremap <C-u> <Esc>bveU
nnoremap <C-l> <Esc>bveu
nnoremap <space> viw
nnoremap <C-S-j> ddp
nnoremap <C-S-k> ddkP
nnoremap ; <S-j>

" Vifm integration
if executable('vifm')
    nnoremap <leader>ff :!vifm %:p:h<CR><CR>
endif

" Insert mode mappings
inoremap <C-h> <Left>
inoremap <C-l> <Right>
inoremap <C-j> <Down>
inoremap <C-k> <Up>
inoremap jk <Esc>
inoremap <Esc> <Nop>
inoremap <C-d> <Esc>ddi
inoremap <C-m> <Tab>
inoremap q" <Esc>bi"<Esc>ea"
inoremap q' <Esc>bi'<Esc>ea'

" ------------------------------
" Abbreviations
" ------------------------------

iabbrev strign string

" ------------------------------
" Theme (Custom Highlights)
" ------------------------------

highlight ColorColumn     guibg=red     guifg=white
highlight Comment         guifg=cyan
highlight Conceal         guibg=white   guifg=black
highlight CursorColumn    guibg=white   guifg=black
highlight CursorLine      guibg=white   guifg=black
highlight CursorLineFold  guibg=white   guifg=black
highlight CursorLineSign  guibg=white   guifg=black
highlight DiffAdd         guibg=cyan    guifg=black
highlight DiffChange      guibg=magenta guifg=black
highlight DiffDelete      guibg=cyan    guifg=black
highlight DiffText        guibg=red     guifg=black
highlight FoldColumn      guibg=white   guifg=black
highlight Folded          guibg=white   guifg=black
highlight MatchParen      guibg=cyan    guifg=black
highlight Pmenu           guibg=yellow  guifg=black
highlight PmenuSbar       guibg=white   guifg=black
highlight PmenuSel        guibg=red     guifg=white
highlight PmenuThumb      guibg=white   guifg=black
highlight QuickFixLine    guibg=yellow  guifg=black
highlight Search          guibg=yellow  guifg=black
highlight SignColumn      guibg=white   guifg=black
highlight SpellBad        guibg=red     guifg=white
highlight SpellCap        guibg=cyan    guifg=black
highlight SpellLocal      guibg=cyan    guifg=black
highlight SpellRare       guibg=magenta guifg=white
highlight TabLine         guibg=white   guifg=black
highlight Todo            guibg=yellow  guifg=black
highlight ToolbarLine     guibg=white   guifg=black
highlight Visual          guibg=white   guifg=black
